.cls-1,
.cls-3 {
    fill: none;
    stroke: #357266;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.cls-1 {
    stroke-width: 6px;
}
.cls-2 {
    fill: #230348;
}
.cls-3 {
    stroke-width: 8px;
}
.cls-4 {
    fill: #357266;
}
.cls-notification {
    fill: none;
}

.icons-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 8px;
}

.icons-svg-sm {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.icon-svg-margin-top {
    fill: "#ffffff";
    margin-top: "10px";
    margin-left: "5px";
}

svg path {
    fill: "white";
    stroke: "white";
    stroke-width: "10";
}

.icon-svg-with-background {
    background-color: aqua;
    border-radius: 25px;
    width: 50px;
    height: 40px;
    padding: 2px 10px;
    vertical-align: middle;
    margin: 8px;
}
.st0 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.spinner-circle-icon {
    margin: auto;
    background: "#ffffff";
    display: block;
    shape-rendering: auto;
}
.success-icon-polyline {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
